<nav class="das-navigation {{- ' ' + params.classes if params.classes}}">
    <div class="govuk-width-container">
        <ul class="das-navigation__list" id="navigation">
            {%- for link in params.links -%}
            <li class="das-navigation__list-item">
                <a class="das-navigation__link {{'das-navigation__link--current' if link.selected == true}} {{'das-navigation__link--last' if loop.last}}" href="{{ link.href }}">
                    {{link.text}}
                </a>
            </li>
            {{ text }}
            {% endfor %}
        </ul>
    </div>
</nav>