{% extends "layouts/base.html" %}

{% block body %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-full">

    {{ govukBackLink({
      text: "Back",
      href: "../"
    }) }}

    <h1 class="govuk-heading-xl">
      <span class="govuk-caption-xl">Components</span> Account header
    </h1>

    <h2 class="govuk-heading-m">
      Employer
    </h2>
    {{ dasAccountHeader({
      classes: "govuk-!-margin-bottom-9",
      title: "Lorem ipsum",
      type: "employer",
      links: [
      {
        text: "First item",
        href: "#"
      },
      {
        text: "Second item",
        href: "#"
      },
      {
        text: "Third item",
        href: "#"
      }]
    }) }}

    <h2 class="govuk-heading-m">
      Provider
    </h2>
    {{ dasAccountHeader({
      title: "Lorem ipsum",
      type: "provider",
      links: [
      {
        text: "First item",
        href: "#"
      },
      {
        text: "Second item",
        href: "#"
      },
      {
        text: "Third item",
        href: "#"
      }]
    }) }}
  
  </div>

</div>

{% endblock %}